@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100vw;
    min-height: 100vh;
}

.container {
    width: 100vw;
    height: 100vh;
    background-color: #1b1b1b;
    color: white;
}

.container .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    /* height: 70px; */
    height: 4.5rem;
}

.container .logo img {
    height: 8vh;
}

.menu {
    margin: 0 3rem;
}

.menu ul {
    list-style: none;
}

.menu ul li {
    display: inline-block;
    padding: 0 1rem;
}

.menu ul li a {
    position: relative;
    display: block;
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
}

.menu ul li a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #29d9d5;
    top: 110%;
    left: 0;
    border-radius: 5px;
    transition: 0.4s;
    transform: scale(0);
}

.menu ul li a:hover {
    color: #29d9d5;
}

.menu ul li a:hover::after {
    transform: scale(1);
}

.menu ul li a.active::after {
    transform: scale(1);
}

.menu #menubtn {
    cursor: pointer;
    user-select: none;
    display: none;
}

#menubtn .bar {
    width: 1.7rem;
    height: .2rem;
    background-color: #29d9d5;
    margin: 5px auto;
    border-radius: 5px;
    transition: .4s cubic-bezier(1, .2, .2, 1);
}

.container main {
    width: 100%;
    height: calc(100vh - 4.5rem);
    background-image: url(./images/portfolio\ image.png);
    background-repeat: no-repeat;
    background-position: right center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

main .infotext {
    padding: 0 5rem;
}

.infotext p {
    color: #79747b;
    font-size: 1.4rem;
    letter-spacing: .1rem;
    text-transform: uppercase;
}

.infotext h1 {
    color: white;
    font-size: 3.5rem;
    padding: .5rem 0;
    letter-spacing: .2rem;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px #333, -2px -2px 2px #333;
}

.infotext h1 span {
    color: #29d9d5;
    padding-left: 1rem;
}

.infotext button {
    padding: 1rem 1.1rem;
    border: .1rem solid white;
    background: none;
    border-radius: 3rem;
    color: white;
    font-size: 1rem;
    outline: none;
    text-transform: uppercase;
    margin: 2rem 0;
    cursor: pointer;
    transition: all 0.4s;
}

.infotext button:hover {
    color: #29d9d5;
    border: .1rem solid #29d9d5;
    font-weight: bold;
}

@media(max-width:920px) {
    .menu #menubtn {
        display: block;
    }
    .menu ul {
        position: fixed;
        width: 250px;
        height: calc(100vh - 4.5rem);
        top: 4.5rem;
        right: -300px;
        /* background-color: #29d9d5; */
        background: rgba( 51, 48, 48, 0.35);
        box-shadow: 0 8px 32px 0 rgba( 50, 200, 200, 0.37);
        backdrop-filter: blur( 1.5px);
        -webkit-backdrop-filter: blur( 1.5px);
        border-radius: 10px;
        border-radius: 30% 0% 0% 80%;
        display: flex;
        align-items: center;
        flex-direction: column;
        border-top: .1rem solid black;
        transition: right .4s cubic-bezier(1, .2, .2, 1);
    }
    .menu ul li {
        padding: 20px;
        letter-spacing: 2px;
    }
    .menu ul li:nth-child(1) {
        margin-top: 30px;
    }
    .container main {
        background-position: center;
    }
    #menubtn.active .bar:nth-child(2) {
        transform: translateX(-30px);
        opacity: 0;
    }
    #menubtn.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    #menubtn.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    .menu ul.active {
        right: 0;
    }
    #infotext p {
        font-size: .5rem;
    }
}