section {
    height: 70vh;
    width: 30vw;
    border: 2px solid black;
    overflow: scroll;
}

li {
    margin: 10px;
    font-size: 20px;
    border: 2px solid gray;
    border-radius: 15px;
    height: 6vh;
}

div {
    height: 100vh;
    width: 100vw;
    margin-top: 100px;
}

img {
    float: right;
}

#para {
    clear: right;
}