div {
    height: 30px;
    width: 250px;
    background-color: darkmagenta;
    border: 2px solid black;
    animation-name: slider;
    animation-duration: 2s;
    animation-duration: reverse;
    animation-iteration-count: infinite;
    /* animation-play-state: paused; */
}

@keyframes slider {
    25% {
        width: 400px;
        height: 100px;
    }
    50% {
        transform: translate(200px, 200px);
    }
    75% {
        transform: translateY(400px);
    }
}